html, body {
  padding: 0;
  margin: 0;
  background: #f8fafc;
  color: #111827;
}

* {
  box-sizing: border-box;
}

a {
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
